.logistica {
    width: 100%;
    height: calc(100vh - 80px);
    position: relative;
} 

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 2rem;
    
}